* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Added a css variable to manipulate the background color */
:root {
    --gray: #82857fa1;
    --green: #61c291;
    --section_color:#a7412fa1;
}

body {
    background-color: var(--gray);
}

.nav-header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--green);
    color: #ffffff;
}

.nav-header h1 {
    display: inline-block;
    font-size: 48px;
    background-color: var(--green);
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    top: 20%;
}

/* Added a flexbox within the navigation */
.flex-container{
    display: flex;
    background: var(--green);
    justify-content: center;
    list-style-type: none;
}

.nav-header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.main {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/banner_image.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.Resume {
    margin-bottom: 32px;
    color: #ffffff;
}


.Resume h3 {
    margin-bottom: 10px;
    text-align: center;
}


.Resume img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

#About_me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--section_color);
    color: #ffffff;
}

#Work {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--section_color);
    color: #ffffff;
}

#Contact_Me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--section_color);
    color: #ffffff;
}

#About_me img {
    max-height: 200px;
}

#Work img {
    max-height: 200px;
    
}

#Contact_Me img {
    max-height: 200px;
}

#About_me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#Work h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#Contact_Me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

/* Added media queries to make portfolio responsive. 
Still need to touch this section up.  */

@media screen and (max-width: 855px){
     
    #Contact_Me{

        font-size: 10px;
    }

    h2{
        font-size: 15px;
    }
 
   
}

@media screen and (max-width: 750px){
     
    div #Contact_Me{
        height: 600px;
    }
   
}

@media screen and (max-width: 600px){
    div #About_me{
        height: 600px;
    }

    div #Work{
        height: 600px;

    }
    }
    

    @media screen and (max-width: 580px){
        .main{
            height:600px;
            width: 300px;
        }
        

}
@media screen and (max-width: 450px){
    .wrapper{
        display:block;
        position:fixed;
    }
}